@model IEnumerable<Lab_1.Models.Visitor>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form>
    <p>Введите фамилию для поиска</p>
    <input name="Name" />

    <input type="submit" />
</form>
<table class="table">
    <thead>
        <tr>
           
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Surname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Midname)
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.Passport)*@
                    <a asp-action="Index" asp-route-sortorder="@ViewData["PassportSort"]">Passport</a> 
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Midname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Passport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group.GroupID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VisitorID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VisitorID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VisitorID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
