@model IEnumerable<Lab_1.Models.TimeTable>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form>
    <p>Введите имя группы поиска</p>
    <input name="GroupName" value="@ViewBag.OldValue"/>

    <input type="submit" />
</form>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Time_visits)
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.Days_of_the_week)*@
                    <a asp-action="Index" asp-route-sortorder="@ViewData["Days_of_the_weekSort"]">Days_of_the_week</a> 
                </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Group)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Group.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Time_visits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Days_of_the_week)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Group.GroupID)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Group.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TimeTableID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TimeTableID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TimeTableID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
