@model Lab_1.Models.Instructor

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<div>
    <h4>Instructor</h4>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Midname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Midname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Experience)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Experience)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Aducation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Aducation)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="InstructorID" />
        <input type="submit" value="Delete" /> |
        <a asp-action="Index">Cancel</a>
    </form>
</div>
